body,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
p,
form {
  margin: 0;
  padding: 0;
}
ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
body {
  color: #333;
  font: normal normal normal 28px/40px 'Microsoft YaHei', Arial, sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz--tap-highlight-color: rgba(0, 0, 0, 0);
  -o--tap-highlight-color: rgba(0, 0, 0, 0);
}
img {
  border: 0;
}
input[type="text"],
input[type="password"],
textarea,
button {
  vertical-align: middle;
  -webkit-appearance: none;
  font-family: 'Microsoft YaHei', Arial, sans-serif;
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  outline: none;
}
table {
  border: 0;
  margin: 0;
  padding: 0;
  border-collapse: collapse;
  border-spacing: 0;
}
table td {
  padding: 0;
}
textarea {
  resize: none;
}
body {
  margin: 0 auto;
  position: relative;
}
.clearFix:before,
.clearFix:after {
  content: " ";
  display: table;
}
.clearFix:after {
  clear: both;
}
.pullLeft {
  float: left;
}
.pullRight {
  float: right;
}
.textCenter {
  text-align: center;
}
.textRight {
  text-align: right;
}
.ellipsisNormal {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
html,
body {
  width: 100%;
  height: 100%;
  background: #fff;
}
#container {
  position: relative;
  width: 100%;
  height: 100%;
}
#container .header {
  position: relative;
  width: 100%;
  height: 220px;
  padding-top: 50px;
  background: url('../images/4_2.png') no-repeat #fff;
  background-size: 100% 100%;
  box-sizing: border-box;
}
#container .header:before,
#container .header:after {
  content: " ";
  display: table;
}
#container .header:after {
  clear: both;
}
#container .header .photo {
  float: left;
  margin-left: 30px;
}
#container .header .photo img {
  width: 113px;
  height: 113px;
  border: 2px solid #fff;
  border-radius: 50%;
}
#container .header .header-right {
  float: left;
  margin: 12px 0 0 30px;
}
#container .header .header-right .nickname {
  font-size: 30px;
  font-weight: bold;
  color: #fff;
}
#container .header .header-right .num {
  margin-top: 12px;
  font-size: 28px;
  color: #fff;
}
#container .content {
  position: absolute;
  left: 0;
  top: 220px;
  bottom: 105px;
  z-index: 1;
  width: 100%;
  overflow-y: scroll;
  box-sizing: border-box;
}
#container .content .record-list .record-item {
  display: block;
  border-bottom: 14px solid #f6f6f6;
}
#container .content .record-list .record-item:last-child {
  border-bottom: none;
}
#container .content .record-list .record-item .record-top {
  padding: 14px 20px;
  font-size: 28px;
  line-height: 40px;
  border-bottom: 1px solid #ddd;
}
#container .content .record-list .record-item .record-top:before,
#container .content .record-list .record-item .record-top:after {
  content: " ";
  display: table;
}
#container .content .record-list .record-item .record-top:after {
  clear: both;
}
#container .content .record-list .record-item .record-top .time {
  float: left;
  color: #666;
}
#container .content .record-list .record-item .record-top .state {
  float: right;
  color: #666;
}
#container .content .record-list .record-item .record-top .ddkj {
  color: #0374d2;
}
#container .content .record-list .record-item .record-top .yzjwlq {
  color: #e50000;
}
#container .content .record-list .record-item .record-bottom {
  padding: 12px 0;
}
#container .content .record-list .record-item .record-bottom .child-list {
  padding: 0 20px;
}
#container .content .record-list .record-item .record-bottom .child-list .child-item {
  padding: 3px 0;
  font-size: 26px;
  line-height: 40px;
}
#container .content .record-list .record-item .record-bottom .child-list .child-item:before,
#container .content .record-list .record-item .record-bottom .child-list .child-item:after {
  content: " ";
  display: table;
}
#container .content .record-list .record-item .record-bottom .child-list .child-item:after {
  clear: both;
}
#container .content .record-list .record-item .record-bottom .child-list .child-item .child-key {
  float: left;
  color: #666;
}
#container .content .record-list .record-item .record-bottom .child-list .child-item .child-val {
  float: right;
  width: 400px;
  color: #000;
  text-align: right;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#container .tab-list {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 10;
  display: flex;
  width: 100%;
  padding: 13px 0 6px 0;
  box-shadow: 5px 0px 25px 10px #f5f5f5;
}
#container .tab-list .tab-item {
  flex: 1;
}
#container .tab-list .tab-item .tab-img {
  display: block;
  width: 48px;
  margin: 0 auto;
}
#container .tab-list .tab-item .tab-img .old-img {
  display: block;
  width: 100%;
}
#container .tab-list .tab-item .tab-img .new-img {
  display: none;
  width: 100%;
}
#container .tab-list .tab-item .tab-text {
  margin-top: 6px;
  color: #666;
  font-size: 24px;
  text-align: center;
  line-height: 28px;
}
#container .tab-list .active .tab-img .old-img {
  display: none;
}
#container .tab-list .active .tab-img .new-img {
  display: block;
}
#container .tab-list .active .tab-text {
  color: #0374d2;
}
