<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title></title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=640, user-scalable=no">
    <link rel="stylesheet" href="../css/index.css">

    <script src="../scripts/lib/jquery-2.2.2.min.js"></script>
</head>

<body>
    <div id="container" class="container">
        <div class="logo"><img src="../images/1_1.png"></div>

        <div class="test"><img src="../images/1_3.png"></div>
        <div class="hdgz"><img src="../images/1_2.png"></div>

        <!-- 红包 -->
        <div class="content">

            <!-- 未点击开启红包展示 -->
            <div class="content-hba content-hba6">
                <div class="content-hba-item">
                    <img src="../images/1_4.png" alt="">
                </div>
                <div class="content-hba-item">
                    <img src="../images/1_4.png" alt="">
                </div>
                <div class="content-hba-item">
                    <img src="../images/1_4.png" alt="">
                </div>
                <div class="content-hba-item">
                    <img src="../images/1_4.png" alt="">
                </div>
                <div class="content-hba-item">
                    <img src="../images/1_4.png" alt="">
                </div>
                <div class="content-hba-item">
                    <img src="../images/1_4.png" alt="">
                </div>
            </div>

            <!-- 开启红包后展示 -->
            <div class="content-hbb content-hbb6">
                <div class="content-hbb-item">
                    <p class="jb"> 0.58</p>
                    <p class="text">现金红包</p>
                </div>
                <div class="content-hbb-item">
                    <p class="jb"> 1.68</p>
                    <p class="text">现金红包</p>
                </div>
                <div class="content-hbb-item">
                    <p class="jb"> 6.66</p>
                    <p class="text">红包</p>
                </div>
                <div class="content-hbb-item">
                    <p class="jb"> 99</p>
                    <p class="text">红包</p>
                </div>
                <div class="content-hbb-item">
                    <p class="jb"> 99</p>
                    <p class="text">红包</p>
                </div>
                <div class="content-hbb-item">
                    <p class="jb"> 99</p>
                    <p class="text">红包</p>
                </div>
            </div>

            <!-- 点击开启红包
            <div class="content-btn">
                <img src="../images/1_8.png">
            </div> -->
        </div>


        <!-- 领取红包 -->
        <div class="contenta">

            <div class="contenta-con">
                <div class="contenta-hb">
                    <span>0.58</span>元
                </div>

                <div class="contenta-btn1">
                    <img src="../images/3_1.png">
                </div>
                <div class="contenta-btn2">
                    <img src="../images/3_2.png">
                </div>

                <div class="contenta-con-gb">
                    <img src="../images/1_10.png">
                </div>
            </div>



        </div>


        <div class="footer">
            <img src="../images/1_6.png">
        </div>

        <!-- 遮罩层 -->
        <div class="layer"></div>





        <!-- 活动推广弹窗 -->

        <div class="hdgztc">

            <div class="hdgztc-con">
                <div class="hdgztc-con-header">

                    <img src="../images/1_12.png">
                </div>

                <div class="hdgztc-con-bottom">
                    <img class="hdgztc-con-gb" src="../images/1_10.png">
                </div>

            </div>
        </div>
    </div>

    <script src="../scripts/lib/jquery-2.2.2.min.js"></script>
    <script src="../scripts/plugins/betterScroll/bscroll.js"></script>
    <script>
        // 打开活动规则
        $('.hdgz').on('click', function () {
            $(".hdgztc").fadeIn()
            scrollWra.refresh();
        })
        
        var scrollWra = new BScroll('.hdgztc-con-header', {
            click: true,
        })

        $('.hdgztc-con-gb').on('click', function () {
            $(".hdgztc").fadeOut()
        })


        var index;
        //点击开红包
        $('.content-hba-item').on('click', function () {

            var that = this;
            index = $('.content-hba-item').index(that)
            console.log(index)
            $(that).addClass('active')
        })

        //动画结束
        $('.content-hba-item').on('transitionend', function () {

            // 遮罩成
            $('.layer').show()

            // $('.content-hba-item').eq(index).removeClass("active")
            $('.content-hbb').show()


            // 显示点击的红包 

            $('.content-hbb-item').eq(index).fadeIn()
            $('.content-hbb-item').eq(index).css("z-index", "9")

            interval = setTimeout(timer, 1500);

        })


        //使用延时器

        // 延时器
        function timer() {
            // 显示全部红包的奖项
            $('.content-hba').hide();
            $('.content-hbb-item').show();
            intervala = setTimeout(timera, 1500);
        }


        // 显示中奖领取弹窗
        function timera() {
            $('.contenta').show();

        }
        // 关闭中奖弹窗
        $('.contenta-con-gb').on('click', function () {
            $('.contenta').hide()

        })

    </script>


</body>

</html>