<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title></title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=640, user-scalable=no">

    <link rel="stylesheet" href="../css/lottery.css">
</head>

<body>
    <div id="container" class="container">
        <div class="header">
            <img src="../images/11_2.png">
        </div>

        <div class="content">
            <p class="content-p1">恭喜您拼得</p>
            <p class="content-p1">第20190830002期</p>
            <p class="content-p2"><span>9.9</span>元</p>
            <p class="content-p2">大奖</p>

            <div class="content-btn">
                <img src="../images/11_1.png">
            </div>
        </div>
    </div>


</body>

</html>