<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=640, user-scalable=no">
    <link rel="stylesheet" href="../css/productList.css">
</head>
<body>
<div id="container">

    <!--头部-->
    <div class="header">
        <div class="photo">
            <img src="../images/4_1.png" alt="">
        </div>
        <div class="header-right">
            <div class="nickname">张三</div>
            <div class="num">夺宝机会：<span>5</span>次</div>
        </div>
    </div>

    <div class="content" id="content">

        <div class="product-list" id="product-list">
            <a class="product-item" href="javascript:void(0);">
                <div class="product-issue">
                    第<span>20190830010</span>期
                </div>
                <div class="product-num"><span>100</span>份</div>
                <div class="product-img">
                    <img src="../images/4_4.png" alt="">
                </div>
                <div class="product-img-name">洋县黑米</div>

                <!--底部-->
                <div class="product-bottom">
                    <div class="person-num">1/10</div>
                    <div class="product-btn">立即参加</div>
                </div>

            </a>
            <a class="product-item" href="javascript:void(0);">
                <div class="product-issue">
                    第<span>20190830010</span>期
                </div>
                <div class="product-num"><span>100</span>份</div>
                <div class="product-img">
                    <img src="../images/4_4.png" alt="">
                </div>
                <div class="product-img-name">洋县黑米</div>

                <!--底部-->
                <div class="product-bottom">
                    <div class="person-num">1/10</div>
                    <div class="product-btn">立即参加</div>
                </div>

            </a>
            <a class="product-item" href="javascript:void(0);">
                <div class="product-issue">
                    第<span>20190830010</span>期
                </div>
                <div class="product-num"><span>100</span>份</div>
                <div class="product-img">
                    <img src="../images/4_4.png" alt="">
                </div>
                <div class="product-img-name">洋县黑米</div>

                <!--底部-->
                <div class="product-bottom">
                    <div class="person-num">1/10</div>
                    <div class="product-btn">立即参加</div>
                </div>

            </a>
        </div>
    </div>


    <!--底部tab-->
    <div class="tab-list">
        <a class="tab-item active" href="javascript:void(0);">
            <div class="tab-img">
                <img class="old-img" src="../images/4_6.png" alt="">
                <img class="new-img" src="../images/4_5.png" alt="">
            </div>
            <div class="tab-text">首页</div>
        </a>
        <a class="tab-item" href="javascript:void(0);">
            <div class="tab-img">
                <img class="old-img" src="../images/4_7.png" alt="">
                <img class="new-img" src="../images/4_8.png" alt="">
            </div>
            <div class="tab-text">个人中心</div>
        </a>
    </div>
</div>

<script src="../scripts/lib/jquery-2.2.2.min.js"></script>
<script src="../scripts/lib/common.js"></script>
<script src="../scripts/plugins/betterScroll/bscroll.js"></script>
<script src="../scripts/other/productList.js"></script>
</body>
</html>