<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=640, user-scalable=no">
    <link rel="stylesheet" href="../css/particSuccess.css">
</head>
<body>
<div id="container">

    <div class="header">

        <div class="header-title">您已成功参与</div>
        <div class="header-text">第<span>20190830010</span>期</div>
    </div>

    <div class="content">
        <div class="tip">重要提示</div>

        <img class="qrcode" src="../images/6_1.png" alt="">

        <img class="code-text" src="../images/6_2.png" alt="">
    </div>

    <img class="bottom" src="../images/1_5.png" alt="">
</div>

<script src="../scripts/lib/jquery-2.2.2.min.js"></script>
<script src="../scripts/lib/common.js"></script>
<script>

</script>
</body>
</html>