<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=640, user-scalable=no">
    <link rel="stylesheet" href="../css/iconfont.css">
    <link rel="stylesheet" href="../css/treasureRecord.css">
</head>
<body>
<div id="container">

    <!--头部-->
    <div class="header">
        <div class="photo">
            <img src="../images/4_1.png" alt="">
        </div>
        <div class="header-right">
            <div class="nickname">张三</div>
            <div class="num">夺宝机会：<span>5</span>次</div>
        </div>
    </div>

    <div class="content">

        <!--记录列表-->
        <div class="record-list">
            <a class="record-item" href="javascript:void(0);">
                <div class="record-top">
                    <div class="time">2019/08/30 18:30:00</div>
                    <div class="state ddkj">等待开奖</div>   <!--等待开奖  ddkj-->
                                                        <!--已领奖  yzjwlq-->
                </div>

                <div class="record-bottom">
                    <div class="child-list">
                        <div class="child-item">
                            <div class="child-key">活动期数</div>
                            <div class="child-val">20190830010</div>
                        </div>
                        <div class="child-item">
                            <div class="child-key">奖品名称</div>
                            <div class="child-val">鹿龟酒</div>
                        </div>
                        <div class="child-item">
                            <div class="child-key">夺宝码号</div>
                            <div class="child-val">222555</div>
                        </div>
                    </div>
                </div>

            </a>
            <a class="record-item" href="javascript:void(0);">
                <div class="record-top">
                    <div class="time">2019/08/30 18:30:00</div>
                    <div class="state">未中奖</div>   <!--等待开奖  ddkj-->
                    <!--已领奖  yzjwlq-->
                </div>

                <div class="record-bottom">
                    <div class="child-list">
                        <div class="child-item">
                            <div class="child-key">活动期数</div>
                            <div class="child-val">20190830010</div>
                        </div>
                        <div class="child-item">
                            <div class="child-key">奖品名称</div>
                            <div class="child-val">鹿龟酒</div>
                        </div>
                        <div class="child-item">
                            <div class="child-key">夺宝码号</div>
                            <div class="child-val">222555</div>
                        </div>
                    </div>
                </div>
            </a>
            <a class="record-item" href="javascript:void(0);">
                <div class="record-top">
                    <div class="time">2019/08/30 18:30:00</div>
                    <div class="state">已领取</div>   <!--等待开奖  ddkj-->
                                                       <!--已领奖  yzjwlq-->
                </div>

                <div class="record-bottom">
                    <div class="child-list">
                        <div class="child-item">
                            <div class="child-key">活动期数</div>
                            <div class="child-val">20190830010</div>
                        </div>
                        <div class="child-item">
                            <div class="child-key">奖品名称</div>
                            <div class="child-val">鹿龟酒</div>
                        </div>
                        <div class="child-item">
                            <div class="child-key">夺宝码号</div>
                            <div class="child-val">222555</div>
                        </div>
                    </div>
                </div>
            </a>
            <a class="record-item" href="javascript:void(0);">
                <div class="record-top">
                    <div class="time">2019/08/30 18:30:00</div>
                    <div class="state yzjwlq">已中奖，未领取</div>   <!--等待开奖  ddkj-->
                                                        <!--已领奖  yzjwlq-->
                </div>

                <div class="record-bottom">
                    <div class="child-list">
                        <div class="child-item">
                            <div class="child-key">活动期数</div>
                            <div class="child-val">20190830010</div>
                        </div>
                        <div class="child-item">
                            <div class="child-key">奖品名称</div>
                            <div class="child-val">鹿龟酒</div>
                        </div>
                        <div class="child-item">
                            <div class="child-key">夺宝码号</div>
                            <div class="child-val">222555</div>
                        </div>
                    </div>
                </div>
            </a>
        </div>

    </div>

    <!--底部tab-->
    <div class="tab-list">
        <a class="tab-item" href="javascript:void(0);">
            <div class="tab-img">
                <img class="old-img" src="../images/4_6.png" alt="">
                <img class="new-img" src="../images/4_5.png" alt="">
            </div>
            <div class="tab-text">首页</div>
        </a>
        <a class="tab-item active" href="javascript:void(0);">
            <div class="tab-img">
                <img class="old-img" src="../images/4_7.png" alt="">
                <img class="new-img" src="../images/4_8.png" alt="">
            </div>
            <div class="tab-text">个人中心</div>
        </a>
    </div>

    <!-- 领奖信息填写框 -->
    <div class="award-infor" id="award-infor">
        <div class="awardBox">
            <div class="title">
                <img src="../images/9_1.png" alt="" class="title-bg">
                <div class="title-text">领奖信息</div>
            </div>
            <div class="inputBox">
                <input type="text" id="name" maxlength="30" placeholder="请填写领奖人姓名">
            </div>

            <div class="inputBox">
                <input type="text" id="mobile" maxlength="11" placeholder="请填写您的手机号">
            </div>

            <div class="inputBox">
                <div class="selectBox">
                    <select class="select-text" id="province">
                        <option>省</option>
                    </select>
                    <i class="icon iconfont icon-sanjiaoxing"></i>
                </div>

                <div class="selectBox cityBox">
                    <select class="select-text" id="city">
                        <option>市</option>
                    </select>
                    <i class="icon iconfont icon-sanjiaoxing"></i>
                </div>
                <div class="selectBox areaBox">
                    <select class="select-text" id="area">
                        <option>区</option>
                    </select>
                    <i class="icon iconfont icon-sanjiaoxing"></i>
                </div>
            </div>

            <div class="inputBox">
                <input type="text" id="address" maxlength="50" placeholder="请填写详细地址">
            </div>

            <div class="inputBox last-inputBox">
                <div class="submit-btn" id="submit-btn">提交</div>
            </div>
        </div>
    </div>
</div>

<script src="../scripts/lib/jquery-2.2.2.min.js"></script>
<script src="../scripts/lib/common.js"></script>
<script src="../scripts/plugins/cityData/cityData.js"></script>
<script src="../scripts/plugins/cityData/citySelect.js"></script>
<script src="../scripts/other/treasureRecord.js"></script>
<script>
    var select = new citySelect({
        province: $("#province"),
        city: $("#city"),
        area: $("#area"),
        cityCon: $(".cityBox"),
        areaCon: $(".areaBox"),
    });
</script>
</body>
</html>